@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}

/* Custom Scrollbar needed for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #020617;
}
